extends ../layout/master.pug

block content
  div.master
    div.main
      div.input-division 
        label Choose a video from youtube:
        br
        input(type='text' name='url' value='' placeholder='ex: C9EWifQ5xqA').input-link
        br
        br
        button(type='submit' name='submit')#Btn submit
      div#screen
        div#play
    div.off
      
